@use 'base/variables' as v;
@use 'base/mixins' as m;

.filtros {
    background-color: lighten(v.$gris, 45%);
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem;

    .filtros-inputs {
        @include m.tablet {
            display: flex;            
            align-items: center;
        }      
    }

    h2 {
        color: v.$indigo;
        font-size: 2.4rem;
        margin: 0 2rem 0 0;
    }
    .campo {
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
        gap: 1rem;
    }
    
    input[type="radio"] {
        accent-color: v.$morado;
        width: 1.8rem;
        height: 1.8rem;

        @include m.tablet {
            width: 1.4rem;
            height: 1.4rem;
        }
    }
}